html, body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: #555
}

canvas {
  display: block;
  align-items: center;
  justify-content: center;
}

